/* Universal Selector */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

body {
    background-color: grey;
  }
  
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
  }

h1 {
    margin: 20px;
  }

/* site nav */
nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
  
li {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    margin-left: 25px;
  }
  
a {
    text-decoration: none;
    color: black;
  }
/* end site nav */

img {
    display: block;
    margin: 20px auto;
  }

main {
    height: 500px;
    width: 75%;
    background-color: lightgray;
}

.my-projects {
    display: inline-block;
    margin-left: 20px;
    
  }

aside {
    margin-right: 20px;
    float: right;
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
  }

.career-hist h4 {
    margin-bottom: 10px;
    text-align: center;
  }

.career-hist {
    margin-bottom: 10px;
    text-align: center;
}

.intrests h4 {
    margin-bottom: 10px;
    text-align: center;
}

.intrests {
    margin-bottom: 10px;
    text-align: center;
}


/* Form */

h3 {
    color: grey;
    margin-left: 50px;
}

form {
    display: inline-block;
    margin: 0 auto;
    width: 350px;
    padding: 5px;
    border: 5px solid red;
    border-radius: 20px;
  }
  
label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
  }
    
input, 
textarea {
    box-sizing: border-box;
    width: 200px;
    border: 1px solid #4F4846;
  }
  
textarea {
    vertical-align: top;
    height: 30px;
  }
    
button {
    height: 20px;
    width: 80px;
    background-color: #4F4846;
    color: #FDF8F5;
  }
/* Form End */

.contact-me {
    background-color:lightgray;
    border-radius: 20px;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
  }